:root {
    --primary-color: #FFF;
    --secondary-color: #0051FF;
    --black: #000;
    --light-gray: #F3F3F3;
    --dark-gray: #7B7B7B;
    --light-blue: #68C3D4;
    --card-background: #F9F9F9;
    --card-border: #C8C8C8;
}

.primary-background {
    background-color: var(--primary-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.light-gray-background {
    background-color: var(--light-gray);
}

.light-gray-text {
    color: var(--light-gray);
}           